.fade-in-top-section {
  opacity: 0;
  transform: translateY(50px); /* Start position below the viewport */
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.fade-in-top-section.fade-in {
  opacity: 1;
  transform: translateY(0); /* End position at its original place */
}

.fade-in-left-section {
  opacity: 0;
  transform: translateX(-10%); /* Start position below the viewport */
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.fade-in-left-section.fade-in {
  opacity: 1;
  transform: translatex(0); /* End position at its original place */
}

.fade-in-right-section {
  opacity: 0;
  transform: translateX(10%); /* Start position below the viewport */
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.fade-in-right-section.fade-in {
  opacity: 1;
  transform: translateX(0); /* End position at its original place */
}
