section.portfolio {
    padding: 50px 0;
  .container {
    .row {
      div {
        max-height: 400px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:hover{
            object-fit: fill;
            transition: .3s ease;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
    section.portfolio{
        padding: 20px 0;
    }
}
